Repository neuromorphic-polito/spikify: changes, and which Codecov flags are due for each by the changed paths.
All: TempEncDeconAlgo, TempEncGlobAlgo, TempEncContAlgo, TempEncLatAlgo, TempEncRateAlgo

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  status:
    project:
      default:
        target: 100%
        threshold: 5%
    patch:
      default:
        target: 100%
        threshold: 5%
    changes: yes

comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
  individual_components:
    - component_id: temporal_encoding_deconvolution_algorithms
      name: TempEncDeconAlgo
      paths:
        - "spikify/encoding/temporal/deconvolution/**"
        - "tests/encoding/temporal/deconvolution/**"
    - component_id: temporal_encoding_global_referenced_algorithms
      name: TempEncGlobAlgo
      paths:
        - "spikify/encoding/temporal/global_referenced/**"
        - "tests/encoding/temporal/global_referenced/**"
    - component_id: temporal_encoding_contrast_algorithms
      name: TempEncContAlgo
      paths:
        - "spikify/encoding/temporal/contrast/**"
        - "tests/encoding/temporal/contrast/**"
    - component_id: temporal_encoding_latency_algorithms
      name: TempEncLatAlgo
      paths:
        - "spikify/encoding/temporal/latency/**"
        - "tests/encoding/temporal/latency/**"
    - component_id: temporal_encoding_rate_algorithms
      name: TempEncRateAlgo
      paths:
        - "spikify/encoding/rate/**"
        - "tests/encoding/rate/**"

refactor: readme
  README.rst
Due: none

refactor: reradme, remove citation
  CITATION.cff
  README.rst
Due: none

refactor: example folder
  examples/wisdm/encode.py
Due: none

docs: refactor function doc
  spikify/encoding/temporal/contrast/step_forward_algorithm.py
  spikify/encoding/temporal/contrast/threshold_based_algorithm.py
  spikify/encoding/temporal/contrast/zero_cross_step_forward_algorithm.py
  spikify/encoding/temporal/deconvolution/ben_spiker_algorithm.py
  spikify/encoding/temporal/deconvolution/hough_spiker_algorithm.py
  spikify/encoding/temporal/deconvolution/modified_hough_spiker_algorithm.py
  spikify/encoding/temporal/global_referenced/phase_encoding_algorithm.py
  spikify/encoding/temporal/global_referenced/time_to_spike_algorithm.py
  spikify/encoding/temporal/latency/burst_encoding_algorithm.py
Due: TempEncDeconAlgo, TempEncGlobAlgo, TempEncContAlgo, TempEncLatAlgo

refactor: fix docs warning
  docs/api/python/encoding/rate_coding/index.rst
  docs/api/python/encoding/temporal_coding/deconvolution/ben_spiker.rst
  docs/api/python/encoding/temporal_coding/deconvolution/index.rst
  docs/api/python/encoding/temporal_coding/global_referenced/index.rst
  docs/api/python/encoding/temporal_coding/index.rst
  docs/api/python/filtering/index.rst
  docs/index.rst
  docs/spikify/encoding/temporal/deconvolution/ben_spiker.rst
  docs/spikify/encoding/temporal/deconvolution/modified_hough_spiker.rst
  spikify/encoding/temporal/deconvolution/__init__.py
  spikify/encoding/temporal/deconvolution/bens_spiker_algorithm.py
  tests/encoding/temporal/deconvolution/test_ben_spiker.py
Due: TempEncDeconAlgo

refactor: licence and logo
  LICENSE
  docs/_static/dark_logo.svg
  docs/_static/white_logo.svg
  docs/conf.py
Due: none

refactor: update distribution workflow
  .github/workflows/publish-distribution
Due: none

refactor: update readthedocs conf
  .readthedocs.yaml
Due: none

refactor: readthedocs
  .readthedocs.yaml
Due: none

rafactor: fix packages installation
  .github/workflows/publish-distribution
  pyproject.toml
Due: none

refactor: lock update
  poetry.lock
Due: none

refactor: add dependency
  pyproject.toml
Due: none

refactor: pyproject
  poetry.lock
  pyproject.toml
Due: none

refactor: link docs
  README.rst
Due: none

workflow: add workflow to publish distribution
  .github/workflows/publish-distribution.yaml
Due: none

refactor: upload gen animation
  animation.py
Due: none

refactor: example WISDM
  examples/wisdm/encode.py
Due: none

doc: fix tutorial
  docs/tutorial.rst
Due: none

refactor: package name
  README.rst
  docs/installation.rst
  pyproject.toml
Due: none

refactor: project authors and doc
  pyproject.toml
Due: none

refactor: authors list
  pyproject.toml
Due: none

refactor: README
  README.rst
Due: none

refactor: README
  README.md
  pyproject.toml
Due: none

refactor: updload cedemeta
  codemata.json
Due: none

docs: update description
  pyproject.toml
Due: none

fix: phase encoding algo
  spikify/encoding/temporal/global_referenced/phase_encoding_algorithm.py
Due: TempEncGlobAlgo

Bump version: 0.1.1 → 0.1.0
  .bumpversion.toml
  docs/conf.py
  pyproject.toml
  spikify/version.py
Due: none

test: add multiple features input
  .gitignore
  spikify/encoding/rate/poisson_rate_algorithm.py
  tests/encoding/rate/test_poisson_rate.py
Due: TempEncRateAlgo

feat: add seed to poisson rate function
  spikify/encoding/rate/poisson_rate_algorithm.py
Due: TempEncRateAlgo

test: add multiple features input to moving window algorithm
  spikify/encoding/temporal/contrast/moving_window_algorithm.py
  tests/encoding/temporal/contrast/test_moving_window.py
Due: TempEncContAlgo

refactor: fix metadata
  codemeta.json
Due: none

docs: update changelog
  docs/changelog.rst
Due: none

test: add multi step features on step forward algorithm
  spikify/encoding/temporal/contrast/step_forward_algorithm.py
  tests/encoding/temporal/contrast/test_step_forward.py
Due: TempEncContAlgo
