Repository neuromorphic-polito/spikify: changes, and which Codecov flags are due for each by the changed paths.
All: TempEncDeconAlgo, TempEncGlobAlgo, TempEncContAlgo, TempEncLatAlgo, TempEncRateAlgo

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  status:
    project:
      default:
        target: 100%
        threshold: 5%
    patch:
      default:
        target: 100%
        threshold: 5%
    changes: yes

comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
  individual_components:
    - component_id: temporal_encoding_deconvolution_algorithms
      name: TempEncDeconAlgo
      paths:
        - "spikify/encoding/temporal/deconvolution/**"
        - "tests/encoding/temporal/deconvolution/**"
    - component_id: temporal_encoding_global_referenced_algorithms
      name: TempEncGlobAlgo
      paths:
        - "spikify/encoding/temporal/global_referenced/**"
        - "tests/encoding/temporal/global_referenced/**"
    - component_id: temporal_encoding_contrast_algorithms
      name: TempEncContAlgo
      paths:
        - "spikify/encoding/temporal/contrast/**"
        - "tests/encoding/temporal/contrast/**"
    - component_id: temporal_encoding_latency_algorithms
      name: TempEncLatAlgo
      paths:
        - "spikify/encoding/temporal/latency/**"
        - "tests/encoding/temporal/latency/**"
    - component_id: temporal_encoding_rate_algorithms
      name: TempEncRateAlgo
      paths:
        - "spikify/encoding/rate/**"
        - "tests/encoding/rate/**"

fix: undeline title
  docs/tutorial.rst
Due: none

feat: add method spikes_to_events to be compliant with faery
  spikify/utils/__init__.py
  spikify/utils/spikes_to_events.py
  tests/encoding/utils/test_spikes_to_events.py
Due: none

refactor add unittests for 2d and 3d arrays
  spikify/utils/spikes_to_events.py
  tests/encoding/utils/test_spikes_to_events.py
Due: none

fix!: variation prepend changed with append due to algo original setup
  spikify/encoding/temporal/contrast/threshold_based_algorithm.py
Due: TempEncContAlgo

refactor: fix tbr tests
  tests/encoding/temporal/contrast/test_threshold_based.py
Due: TempEncContAlgo

refactor: code style optimization
  spikify/encoding/temporal/contrast/threshold_based_algorithm.py
Due: TempEncContAlgo

docs: fix documentation style
  docs/spikify/encoding/temporal/contrast/threshold_based.rst
Due: none

docs: refactor fundamentals of TBR
  docs/spikify/encoding/temporal/contrast/threshold_based.rst
Due: none

refactor: change output type and add code comments
  spikify/encoding/temporal/contrast/threshold_based_algorithm.py
Due: TempEncContAlgo

tests: handle return type tuple for TBR
  tests/encoding/temporal/contrast/test_threshold_based.py
Due: TempEncContAlgo

docs: style opt
  docs/spikify/encoding/temporal/contrast/threshold_based.rst
Due: none

tests: remove test type factor variable
  tests/encoding/temporal/contrast/test_threshold_based.py
Due: TempEncContAlgo

tests: add test for npn numeric factor parameters
  tests/encoding/temporal/contrast/test_threshold_based.py
Due: TempEncContAlgo

test: add test fro return types checking
  tests/encoding/temporal/contrast/test_threshold_based.py
Due: TempEncContAlgo

docs: update factor types and writing style reference
  docs/spikify/encoding/temporal/contrast/threshold_based.rst
  spikify/encoding/temporal/contrast/threshold_based_algorithm.py
Due: TempEncContAlgo

docs: update return type and add short description
  spikify/encoding/temporal/contrast/threshold_based_algorithm.py
Due: TempEncContAlgo

docs: fix return type and update example including threshold variable
  spikify/encoding/temporal/contrast/threshold_based_algorithm.py
Due: TempEncContAlgo

docs: update contributing directions
  docs/contributing.rst
Due: none

ci: test documentation and add new docs dependecy
  .github/workflows/python-tests.yaml
  pyproject.toml
Due: none

refactor: update lock file
  poetry.lock
Due: none

docs: update description of TBR
  docs/spikify/encoding/temporal/contrast/threshold_based.rst
Due: none

refactor: factor types and relative tests
  spikify/encoding/temporal/contrast/threshold_based_algorithm.py
  tests/encoding/temporal/contrast/test_threshold_based.py
Due: TempEncContAlgo

tests: increase test coverage
  tests/encoding/temporal/contrast/test_threshold_based.py
Due: TempEncContAlgo

docs: fix raises error description
  spikify/encoding/temporal/contrast/threshold_based_algorithm.py
Due: TempEncContAlgo

refactor: docs style optimization
  spikify/encoding/temporal/contrast/threshold_based_algorithm.py
Due: TempEncContAlgo

docs: update SF description
  docs/spikify/encoding/temporal/contrast/step_forward.rst
Due: none

fix: SF algorithm timestep
  spikify/encoding/temporal/contrast/step_forward_algorithm.py
  tests/encoding/temporal/contrast/test_step_forward.py
Due: TempEncContAlgo

docs: optimize description style
  docs/spikify/encoding/temporal/contrast/step_forward.rst
Due: none

fix: mw algorithm
  spikify/encoding/temporal/contrast/moving_window_algorithm.py
  tests/encoding/temporal/contrast/test_moving_window.py
Due: TempEncContAlgo

docs: update description MW
  docs/spikify/encoding/temporal/contrast/moving_window.rst
Due: none

docs: update description for contrast based algorithms
  docs/spikify/encoding/temporal/contrast/step_forward.rst
  docs/spikify/encoding/temporal/contrast/threshold_based.rst
  docs/spikify/encoding/temporal/contrast/zero_cross_step_forward.rst
Due: none

refactor: update types description
  spikify/encoding/temporal/contrast/step_forward_algorithm.py
  spikify/encoding/temporal/contrast/zero_cross_step_forward_algorithm.py
  tests/encoding/temporal/contrast/test_step_forward.py
  tests/encoding/temporal/contrast/test_zero_cross_step_forward.py
Due: TempEncContAlgo

docs: update ZCSF description
  docs/spikify/encoding/temporal/contrast/zero_cross_step_forward.rst
Due: none

docs: writing style optimization
  docs/spikify/encoding/temporal/contrast/threshold_based.rst
  docs/spikify/encoding/temporal/contrast/zero_cross_step_forward.rst
Due: none

docs: update docs with pseudocode BSA
  docs/spikify/encoding/temporal/deconvolution/ben_spiker.rst
Due: none

refactor: add fir filter to BSA
  spikify/encoding/temporal/deconvolution/bens_spiker_algorithm.py
Due: TempEncDeconAlgo
