Repository neuromorphic-polito/spikify: changes, and which Codecov flags are due for each by the changed paths.
All: TempEncDeconAlgo, TempEncGlobAlgo, TempEncContAlgo, TempEncLatAlgo, TempEncRateAlgo

refactor: type docs and add kwargs params for filter parameter
  spikify/encoding/temporal/deconvolution/bens_spiker_algorithm.py
Due: TempEncDeconAlgo

refactor: BSA code optimization for FIR configuration
  spikify/encoding/temporal/deconvolution/bens_spiker_algorithm.py
Due: TempEncDeconAlgo

refactor: documentation and function parameters updates
  spikify/encoding/temporal/deconvolution/bens_spiker_algorithm.py
Due: TempEncDeconAlgo

tests: update and add new tests to reflect changes
  tests/encoding/temporal/deconvolution/test_ben_spiker.py
Due: TempEncDeconAlgo

doctests: fix test failure due to print statement
  spikify/encoding/temporal/deconvolution/bens_spiker_algorithm.py
Due: TempEncDeconAlgo

docs: code style optimization
  spikify/encoding/temporal/deconvolution/bens_spiker_algorithm.py
Due: TempEncDeconAlgo

fix: hsa issue and doc updates
  spikify/encoding/temporal/deconvolution/hough_spiker_algorithm.py
Due: TempEncDeconAlgo

docs: update pseudocode
  docs/spikify/encoding/temporal/deconvolution/ben_spiker.rst
Due: none

docs: update hsa documentation
  docs/spikify/encoding/temporal/deconvolution/hough_spiker.rst
Due: none

fix: path directory
  spikify/encoding/temporal/deconvolution/hough_spiker_algorithm.py
Due: TempEncDeconAlgo

tests: update tests to reflect new changes
  tests/encoding/temporal/deconvolution/test_hough_spiker.py
Due: TempEncDeconAlgo

docs: update description algo
  spikify/encoding/temporal/deconvolution/hough_spiker_algorithm.py
Due: TempEncDeconAlgo

refactor: add new params and update documentation
  spikify/encoding/temporal/deconvolution/modified_hough_spiker_algorithm.py
Due: TempEncDeconAlgo

tests: update tests for new parameter update
  tests/encoding/temporal/deconvolution/test_modified_hough_spiker.py
Due: TempEncDeconAlgo

docs: update description bsa
  spikify/encoding/temporal/deconvolution/bens_spiker_algorithm.py
Due: TempEncDeconAlgo

docs: update description
  docs/spikify/encoding/temporal/deconvolution/hough_spiker.rst
  docs/spikify/encoding/temporal/deconvolution/modified_hough_spiker.rst
Due: none

dos: update docs and index descriptions
  docs/spikify/encoding/index.rst
  docs/spikify/encoding/temporal/contrast/moving_window.rst
  docs/spikify/encoding/temporal/contrast/step_forward.rst
  docs/spikify/encoding/temporal/contrast/threshold_based.rst
  docs/spikify/encoding/temporal/contrast/zero_cross_step_forward.rst
  docs/spikify/encoding/temporal/deconvolution/ben_spiker.rst
  docs/spikify/encoding/temporal/deconvolution/hough_spiker.rst
  docs/spikify/encoding/temporal/deconvolution/index.rst
  docs/spikify/encoding/temporal/deconvolution/modified_hough_spiker.rst
Due: none

refactor: change name to poisson encoding function
  docs/api/python/encoding/rate_coding/index.rst
  docs/api/python/encoding/rate_coding/poisson.rst
  docs/api/python/encoding/rate_coding/poisson_rate.rst
  docs/spikify/encoding/rate/poisson_rate.rst
  spikify/encoding/rate/__init__.py
  spikify/encoding/rate/poisson_algorithm.py
  tests/encoding/rate/test_poisson.py
Due: TempEncRateAlgo

refactor: convert logo to jpeg
  README.md
  docs/_static/white_logo.jpg
Due: none

fix: logo
  README.md
Due: none

fix: logo alignment and switch white/dark logo
  README.md
Due: none

fix: alignment logo with paragraph
  README.md
Due: none

refactor: add readme compatible with pypi
  README_PYPI.md
  pyproject.toml
Due: none

refactor: update codemeta version
  codemeta.json
Due: none

refactor: add codemeta version auto-update
  .bumpversion.toml
Due: none

fix: codemeta version identifier
  .bumpversion.toml
Due: none

refactor: add download link version auto-update
  .bumpversion.toml
Due: none

refactor: description and email data
  codemeta.json
Due: none

refactor: add possibility to update dates
  .bumpversion.toml
Due: none

docs: add pseudocode and refactor documentation
  docs/spikify/encoding/rate/poisson_rate.rst
Due: none

refactor: documentation update and signal normalization update
  spikify/encoding/rate/poisson_algorithm.py
Due: TempEncRateAlgo

tests: fix error signal type
  tests/encoding/rate/test_poisson.py
Due: TempEncRateAlgo

refactor: code style optimization and doc update
  docs/spikify/encoding/rate/poisson_rate.rst
  spikify/encoding/rate/poisson_algorithm.py
Due: TempEncRateAlgo

refactor: rename global-referenced phase encoding function
  spikify/encoding/temporal/global_referenced/__init__.py
  spikify/encoding/temporal/global_referenced/phase_encoding_algorithm.py
  tests/encoding/temporal/global_referenced/test_phase_encoding.py
Due: TempEncGlobAlgo

docs: import new poisson algorithm with its new function name
  docs/tutorial.rst
  mnist_poisson_spikes_spikify.gif
Due: none

refactor: change function name
  animation.py
Due: none

docs: change import name function
  docs/tutorial.rst
Due: none

refactor: change import name function and fix example
  README.md
  README_PYPI.md
Due: none

refactor: code style optimization
  spikify/encoding/temporal/global_referenced/phase_encoding_algorithm.py
Due: TempEncGlobAlgo

Path conditions:
  TempEncDeconAlgo: any of: spikify/encoding/temporal/deconvolution/**, tests/encoding/temporal/deconvolution/**
  TempEncGlobAlgo: any of: spikify/encoding/temporal/global_referenced/**, tests/encoding/temporal/global_referenced/**
  TempEncContAlgo: any of: spikify/encoding/temporal/contrast/**, tests/encoding/temporal/contrast/**
  TempEncLatAlgo: any of: spikify/encoding/temporal/latency/**, tests/encoding/temporal/latency/**
  TempEncRateAlgo: any of: spikify/encoding/rate/**, tests/encoding/rate/**
