Repository neuromorphic-polito/spikify: changes, and which Codecov flags are due for each by the changed paths.
All: TempEncDeconAlgo, TempEncGlobAlgo, TempEncContAlgo, TempEncLatAlgo, TempEncRateAlgo

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  status:
    project:
      default:
        target: 100%
        threshold: 5%
    patch:
      default:
        target: 100%
        threshold: 5%
    changes: yes

comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
  individual_components:
    - component_id: temporal_encoding_deconvolution_algorithms
      name: TempEncDeconAlgo
      paths:
        - "spikify/encoding/temporal/deconvolution/**"
        - "tests/encoding/temporal/deconvolution/**"
    - component_id: temporal_encoding_global_referenced_algorithms
      name: TempEncGlobAlgo
      paths:
        - "spikify/encoding/temporal/global_referenced/**"
        - "tests/encoding/temporal/global_referenced/**"
    - component_id: temporal_encoding_contrast_algorithms
      name: TempEncContAlgo
      paths:
        - "spikify/encoding/temporal/contrast/**"
        - "tests/encoding/temporal/contrast/**"
    - component_id: temporal_encoding_latency_algorithms
      name: TempEncLatAlgo
      paths:
        - "spikify/encoding/temporal/latency/**"
        - "tests/encoding/temporal/latency/**"
    - component_id: temporal_encoding_rate_algorithms
      name: TempEncRateAlgo
      paths:
        - "spikify/encoding/rate/**"
        - "tests/encoding/rate/**"

refactor: code style optimization
  spikify/encoding/temporal/latency/burst_encoding_algorithm.py
Due: TempEncLatAlgo

docs: refactor poisson description and pseudocode and mhsa
  docs/spikify/encoding/rate/poisson_rate.rst
  docs/spikify/encoding/temporal/deconvolution/modified_hough_spiker.rst
Due: none

refactor(burst)!: rename burst encoding into burst coding to shorthen path and update documentation including pseudocode
  docs/api/python/encoding/temporal_coding/latency/burst_coding.rst
  docs/api/python/encoding/temporal_coding/latency/burst_encoding.rst
  docs/api/python/encoding/temporal_coding/latency/index.rst
  docs/spikify/encoding/temporal/latency/burst_coding.rst
  docs/spikify/encoding/temporal/latency/burst_encoding.rst
  docs/spikify/encoding/temporal/latency/index.rst
  spikify/encoding/temporal/latency/__init__.py
  spikify/encoding/temporal/latency/burst_coding_algorithm.py
  spikify/encoding/temporal/latency/burst_encoding_algorithm.py
  tests/encoding/temporal/latency/test_burst_coding.py
Due: TempEncLatAlgo

fix: doctest
  spikify/encoding/temporal/latency/burst_coding_algorithm.py
Due: TempEncLatAlgo

docs: refactor burst coding description
  docs/spikify/encoding/temporal/latency/index.rst
Due: none

refactor: update description documentation, handle automatic signal scaling and refacto algo path
  docs/api/python/encoding/temporal_coding/global_referenced/time_to_first_spike.rst
  docs/spikify/encoding/temporal/global_referenced/time_to_first_spike.rst
  spikify/encoding/temporal/global_referenced/__init__.py
  spikify/encoding/temporal/global_referenced/time_to_first_spike_algorithm.py
  spikify/encoding/temporal/global_referenced/time_to_spike_algorithm.py
  tests/encoding/temporal/global_referenced/test_time_to_first_spike.py
Due: TempEncGlobAlgo

refactor: reshape output vector
  spikify/encoding/temporal/global_referenced/time_to_first_spike_algorithm.py
Due: TempEncGlobAlgo

refactor: typo and style optimization
  docs/spikify/encoding/temporal/latency/burst_coding.rst
  spikify/encoding/temporal/latency/burst_coding_algorithm.py
Due: TempEncLatAlgo

tests: fix return vector
  spikify/encoding/temporal/global_referenced/time_to_first_spike_algorithm.py
Due: TempEncGlobAlgo

docs: warning on doc compilation solved
  docs/spikify/encoding/temporal/global_referenced/phase_encoding.rst
  docs/spikify/encoding/temporal/global_referenced/time_to_first_spike.rst
  spikify/encoding/temporal/global_referenced/phase_encoding_algorithm.py
  tests/encoding/temporal/global_referenced/test_phase_encoding.py
Due: TempEncGlobAlgo

docs: change citation and rename encoding algo
  README.md
  README_PYPI.md
  docs/spikify/encoding/temporal/latency/burst_coding.rst
  spikify/encoding/temporal/latency/burst_coding_algorithm.py
Due: TempEncLatAlgo

refactor: code style optimization
  examples/wisdm/encode.py
Due: none

docs: desc style optimization
  docs/spikify/encoding/temporal/latency/burst_coding.rst
Due: none

docs: update description for phase encoding and style optimization
  docs/spikify/encoding/temporal/global_referenced/phase_encoding.rst
  docs/spikify/encoding/temporal/global_referenced/time_to_first_spike.rst
  spikify/encoding/temporal/contrast/moving_window_algorithm.py
  spikify/encoding/temporal/global_referenced/phase_encoding_algorithm.py
  spikify/encoding/temporal/global_referenced/time_to_first_spike_algorithm.py
Due: TempEncGlobAlgo, TempEncContAlgo

docs: add link to python implementation
  docs/spikify/encoding/temporal/global_referenced/phase_encoding.rst
  docs/spikify/encoding/temporal/global_referenced/time_to_first_spike.rst
Due: none

docs: style optimization
  spikify/encoding/temporal/global_referenced/time_to_first_spike_algorithm.py
Due: TempEncGlobAlgo

docs: style optimization
  spikify/encoding/temporal/global_referenced/phase_encoding_algorithm.py
Due: TempEncGlobAlgo

docs: clarify description for global referenced algos
  docs/spikify/encoding/temporal/global_referenced/phase_encoding.rst
  docs/spikify/encoding/temporal/global_referenced/time_to_first_spike.rst
  spikify/encoding/temporal/global_referenced/time_to_first_spike_algorithm.py
Due: TempEncGlobAlgo

refactor(FilterBank): improve filter coefficient selection and update method documentation
  spikify/filtering/filterbank.py
  tests/filtering/test_filterbank.py
Due: none

tests(FilterBank): improve test coverage on center frequencies
  tests/filtering/test_filterbank.py
Due: none

refactor(FilterBank): code style optimization
  spikify/filtering/filterbank.py
Due: none

refactor(FilterBank): ensure 2D signal processing and remove unnecessary unittests
  spikify/filtering/filterbank.py
  tests/filtering/test_filterbank.py
Due: none

refactor: remove image
  mnist_poisson_spikes_spikify.gif
Due: none

refactor: code style opt
  docs/citation.py
Due: none

refactor: add a more technical description for each encoding algo and enhance filter section
  README.md
  README_PYPI.md
Due: none

docs: enhace doc and rename paths according to the new module renaming
  codecov.yml
  docs/api/python/encoders/index.rst
  docs/api/python/encoders/rate_coding/index.rst
  docs/api/python/encoders/rate_coding/poisson.rst
  docs/api/python/encoders/temporal_coding/contrast/index.rst
  docs/api/python/encoders/temporal_coding/contrast/moving_window.rst
  docs/api/python/encoders/temporal_coding/contrast/step_forward.rst
  docs/api/python/encoders/temporal_coding/contrast/threshold_based.rst
  docs/api/python/encoders/temporal_coding/contrast/zero_cross_step_forward.rst
  docs/api/python/encoders/temporal_coding/deconvolution/ben_spiker.rst
  docs/api/python/encoders/temporal_coding/deconvolution/hough_spiker.rst
  docs/api/python/encoders/temporal_coding/deconvolution/index.rst
  docs/api/python/encoders/temporal_coding/deconvolution/modified_hough_spiker.rst
  docs/api/python/encoders/temporal_coding/global_referenced/index.rst
  docs/api/python/encoders/temporal_coding/global_referenced/phase_encoding.rst
  docs/api/python/encoders/temporal_coding/global_referenced/time_to_first_spike.rst
  docs/api/python/encoders/temporal_coding/index.rst
  docs/api/python/encoders/temporal_coding/latency/burst_coding.rst
  docs/api/python/encoders/temporal_coding/latency/index.rst
  docs/api/python/filtering/index.rst
  docs/api/python/filters/filterbank.rst
  docs/api/python/filters/index.rst
  docs/api/python/index.rst
  docs/spikify/filters/index.rst
Due: none

refactor: apply description changes
  README.md
Due: none

refactor: pypi read version
  README_PYPI.md
Due: none

docs: update changelog
  docs/changelog.rst
Due: none

Bump version: 0.3.0 → 1.0.0"
  .bumpversion.toml
  codemeta.json
  docs/conf.py
  pyproject.toml
  spikify/version.py
Due: none

feat: define temporal contrast decoder algorithm
  spikify/decoders/__init__.py
  spikify/decoders/temporal/__init__.py
  spikify/decoders/temporal/contrast/__init__.py
  spikify/decoders/temporal/contrast/decoder_algorithm.py
Due: none

docs: add documentation for contrast decoder
  docs/api/python/decoders/index.rst
  docs/api/python/decoders/temporal_decoding/contrast/decoder.rst
  docs/api/python/decoders/temporal_decoding/contrast/index.rst
  docs/api/python/decoders/temporal_decoding/index.rst
  docs/api/python/index.rst
Due: none

tests: add tests for contrast decoder
  tests/decoders/__init__.py
  tests/decoders/temporal/contrast/test_decoder.py
Due: none

fix: import package
  spikify/decoders/temporal/contrast/__init__.py
Due: none

feat: add deconvolution decoder
  spikify/decoders/temporal/deconvolution/__init__.py
  spikify/decoders/temporal/deconvolution/decoder_algorithm.py
Due: none

refactor: remove unnecessary initialization for certain arguments
  spikify/decoders/temporal/contrast/decoder_algorithm.py
Due: none

refactor: clarify documentation and avoit flattening output
  spikify/encoders/temporal/contrast/moving_window_algorithm.py
  spikify/encoders/temporal/contrast/step_forward_algorithm.py
  spikify/encoders/temporal/contrast/threshold_based_algorithm.py
  spikify/encoders/temporal/contrast/zero_cross_step_forward_algorithm.py
Due: none

tets: fix dimension of retuned array
  tests/encoders/temporal/contrast/test_moving_window.py
  tests/encoders/temporal/contrast/test_step_forward.py
  tests/encoders/temporal/contrast/test_threshold_based.py
  tests/encoders/temporal/contrast/test_zero_cross_step_forward.py
Due: none
