Repository neuromorphic-polito/spikify: changes, and which Codecov flags are due for each by the changed paths.
All: TempEncDeconAlgo, TempEncGlobAlgo, TempEncContAlgo, TempEncLatAlgo, TempEncRateAlgo

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: yes

coverage:
  status:
    project:
      default:
        target: 100%
        threshold: 5%
    patch:
      default:
        target: 100%
        threshold: 5%
    changes: yes

comment:
  layout: "header, diff, flags, components"

component_management:
  default_rules:  # default rules that will be inherited by all components
    statuses:
      - type: project # in this case every component that doesn't have a status defined will have a project type one
        target: auto
  individual_components:
    - component_id: temporal_encoding_deconvolution_algorithms
      name: TempEncDeconAlgo
      paths:
        - "spikify/encoding/temporal/deconvolution/**"
        - "tests/encoding/temporal/deconvolution/**"
    - component_id: temporal_encoding_global_referenced_algorithms
      name: TempEncGlobAlgo
      paths:
        - "spikify/encoding/temporal/global_referenced/**"
        - "tests/encoding/temporal/global_referenced/**"
    - component_id: temporal_encoding_contrast_algorithms
      name: TempEncContAlgo
      paths:
        - "spikify/encoding/temporal/contrast/**"
        - "tests/encoding/temporal/contrast/**"
    - component_id: temporal_encoding_latency_algorithms
      name: TempEncLatAlgo
      paths:
        - "spikify/encoding/temporal/latency/**"
        - "tests/encoding/temporal/latency/**"
    - component_id: temporal_encoding_rate_algorithms
      name: TempEncRateAlgo
      paths:
        - "spikify/encoding/rate/**"
        - "tests/encoding/rate/**"

test: add threshold base algorithm
  spikify/encoding/temporal/contrast/moving_window_algorithm.py
  spikify/encoding/temporal/contrast/threshold_based_algorithm.py
  tests/encoding/temporal/contrast/test_threshold_based.py
Due: TempEncContAlgo

fix: modify function name in test area, and fix bug in step forward algorithm
  spikify/encoding/temporal/contrast/step_forward_algorithm.py
  tests/encoding/temporal/contrast/test_moving_window.py
  tests/encoding/temporal/contrast/test_step_forward.py
  tests/encoding/temporal/contrast/test_threshold_based.py
Due: TempEncContAlgo

test: add multiple features for zero cross step forward algorithm
  spikify/encoding/temporal/contrast/zero_cross_step_forward_algorithm.py
  tests/encoding/temporal/contrast/test_zero_cross_step_forward.py
Due: TempEncContAlgo

test: add multiple features to bens spiker algorithm
  spikify/encoding/temporal/deconvolution/bens_spiker_algorithm.py
  tests/encoding/temporal/deconvolution/test_ben_spiker.py
Due: TempEncDeconAlgo

test: add multiple features hough spiker algorithm
  spikify/encoding/temporal/deconvolution/bens_spiker_algorithm.py
  spikify/encoding/temporal/deconvolution/hough_spiker_algorithm.py
  tests/encoding/temporal/deconvolution/test_hough_spiker.py
Due: TempEncDeconAlgo

test: add multiple features to modified hough algorithm
  spikify/encoding/temporal/deconvolution/modified_hough_spiker_algorithm.py
  tests/encoding/temporal/deconvolution/test_modified_hough_spiker.py
Due: TempEncDeconAlgo

test: add multiple faetures in phase encoding algorithm
  spikify/encoding/temporal/global_referenced/phase_encoding_algorithm.py
  tests/encoding/temporal/global_referenced/test_phase_encoding.py
Due: TempEncGlobAlgo

test: add multiple features to time to spike algorithm
  spikify/encoding/temporal/global_referenced/time_to_spike_algorithm.py
  tests/encoding/temporal/global_referenced/test_time_to_spike.py
Due: TempEncGlobAlgo

test: add multiple features in burst encoding
  spikify/encoding/temporal/latency/burst_encoding_algorithm.py
  tests/encoding/temporal/latency/test_burst_encoding.py
Due: TempEncLatAlgo

refactor: add annotation, set vencor shapes for code style optimization, filterwindow setup changed
  spikify/encoding/rate/poisson_rate_algorithm.py
  spikify/encoding/temporal/contrast/moving_window_algorithm.py
  spikify/encoding/temporal/contrast/threshold_based_algorithm.py
  spikify/encoding/temporal/deconvolution/bens_spiker_algorithm.py
  spikify/encoding/temporal/deconvolution/hough_spiker_algorithm.py
  spikify/encoding/temporal/deconvolution/modified_hough_spiker_algorithm.py
  spikify/encoding/temporal/global_referenced/phase_encoding_algorithm.py
  spikify/encoding/temporal/global_referenced/time_to_spike_algorithm.py
  spikify/encoding/temporal/latency/burst_encoding_algorithm.py
  tests/encoding/temporal/deconvolution/test_ben_spiker.py
Due: TempEncDeconAlgo, TempEncGlobAlgo, TempEncContAlgo, TempEncLatAlgo, TempEncRateAlgo

refactor: add multiple window possibility
  spikify/encoding/rate/poisson_rate_algorithm.py
  spikify/encoding/temporal/contrast/moving_window_algorithm.py
  spikify/encoding/temporal/contrast/step_forward_algorithm.py
  spikify/encoding/temporal/contrast/threshold_based_algorithm.py
  spikify/encoding/temporal/contrast/zero_cross_step_forward_algorithm.py
  spikify/encoding/temporal/deconvolution/bens_spiker_algorithm.py
  spikify/encoding/temporal/deconvolution/hough_spiker_algorithm.py
  spikify/encoding/temporal/deconvolution/modified_hough_spiker_algorithm.py
  spikify/encoding/temporal/global_referenced/phase_encoding_algorithm.py
  spikify/encoding/temporal/global_referenced/time_to_spike_algorithm.py
  spikify/encoding/temporal/latency/burst_encoding_algorithm.py
  tests/encoding/temporal/deconvolution/test_ben_spiker.py
  tests/encoding/temporal/deconvolution/test_modified_hough_spiker.py
Due: TempEncDeconAlgo, TempEncGlobAlgo, TempEncContAlgo, TempEncLatAlgo, TempEncRateAlgo

refactor: code style optimization, added missing types to docs and adjusted types on unittests
  spikify/encoding/rate/poisson_rate_algorithm.py
  spikify/encoding/temporal/contrast/moving_window_algorithm.py
  spikify/encoding/temporal/contrast/step_forward_algorithm.py
  spikify/encoding/temporal/contrast/threshold_based_algorithm.py
  spikify/encoding/temporal/contrast/zero_cross_step_forward_algorithm.py
  spikify/encoding/temporal/deconvolution/bens_spiker_algorithm.py
  spikify/encoding/temporal/deconvolution/hough_spiker_algorithm.py
  spikify/encoding/temporal/deconvolution/modified_hough_spiker_algorithm.py
  spikify/encoding/temporal/deconvolution/utils.py
  spikify/encoding/temporal/global_referenced/phase_encoding_algorithm.py
  tests/encoding/temporal/contrast/test_step_forward.py
  tests/encoding/temporal/contrast/test_zero_cross_step_forward.py
  tests/encoding/temporal/deconvolution/test_modified_hough_spiker.py
Due: TempEncDeconAlgo, TempEncGlobAlgo, TempEncContAlgo, TempEncRateAlgo

test: add unit tests to cover ValueError and TypeError
  spikify/encoding/temporal/contrast/step_forward_algorithm.py
  spikify/encoding/temporal/contrast/threshold_based_algorithm.py
  spikify/encoding/temporal/contrast/zero_cross_step_forward_algorithm.py
  spikify/encoding/temporal/deconvolution/bens_spiker_algorithm.py
  spikify/encoding/temporal/deconvolution/hough_spiker_algorithm.py
  spikify/encoding/temporal/deconvolution/modified_hough_spiker_algorithm.py
  tests/encoding/temporal/contrast/test_step_forward.py
  tests/encoding/temporal/contrast/test_threshold_based.py
  tests/encoding/temporal/contrast/test_zero_cross_step_forward.py
  tests/encoding/temporal/deconvolution/test_ben_spiker.py
  tests/encoding/temporal/deconvolution/test_hough_spiker.py
  tests/encoding/temporal/deconvolution/test_modified_hough_spiker.py
Due: TempEncDeconAlgo, TempEncContAlgo

refactor: clarify signal shape
  spikify/encoding/temporal/latency/burst_encoding_algorithm.py
Due: TempEncLatAlgo

docs: refactor changelog
  docs/changelog.rst
Due: none

docs: refactor release guide
  RELEASE.rst
Due: none

docs: update release guide for new convention branch versioning
  RELEASE.rst
Due: none

chore(deps): remove torch
  poetry.lock
  pyproject.toml
Due: none

build: add permissions to workflow
  .github/workflows/publish-distribution.yaml
  .github/workflows/python-tests.yaml
Due: none

Bump version: {0.1.1} → {0.2.0}
  .bumpversion.toml
  docs/conf.py
  pyproject.toml
  spikify/version.py
Due: none

docs: fix changelog
  docs/changelog.rst
Due: none

feat: add filters and relative documentation
  docs/api/python/filtering/filterbank.rst
  docs/api/python/filtering/index.rst
  docs/conf.py
  docs/spikify/filtering/index.rst
  spikify/filtering/__init__.py
  spikify/filtering/filterbank.py
Due: none

docs: refactor doc for FilterBank class
  docs/api/python/filtering/index.rst
  docs/conf.py
  spikify/filtering/filterbank.py
Due: none

docs: add short description for filtering techniques
  docs/spikify/filtering/index.rst
Due: none

refactor: duplicate docs
  docs/spikify/filtering/index.rst
Due: none

fix: type error and refactor var name
  spikify/encoding/temporal/contrast/threshold_based_algorithm.py
Due: TempEncContAlgo

tests: add tests for filterbank
  tests/filtering/__init__.py
  tests/filtering/test_filterbank.py
Due: none

test: add filterbank sos test
  tests/filtering/test_filterbank.py
Due: none

tests: refactor tests
  tests/filtering/test_filterbank.py
Due: none

fix: center channe frequency
  spikify/filtering/filterbank.py
Due: none

docs: link update for contributing
  docs/contributing.rst
Due: none

tests: add filtering component to codecov reports
  codecov.yml
Due: none

refactor: update readme
  README.md
Due: none

docs: fix class documentation
  spikify/filtering/filterbank.py
Due: none

refactor: add tests for filterbank and fix docs
  README.md
  spikify/filtering/filterbank.py
  tests/filtering/test_filterbank.py
Due: none

refactor: add ful path for README inage
  README.md
Due: none

docs: update README with filtering examples and remove README.rst
  README.md
  README.rst
  docs/changelog.rst
Due: none

Bump version: 0.2.0 → 0.3.0
  .bumpversion.toml
  docs/conf.py
  pyproject.toml
  spikify/version.py
Due: none

docs: update tutorial example
  docs/tutorial.rst
Due: none

docs: writing style optimization
  docs/tutorial.rst
Due: none
